
.ourschoolboard{
    width: 50%;
    text-align: center;
    z-index: 999;
    padding: 20px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#C0D1D7;
    color: #1D4974;
}





.latest_card_box_ad{
    width: 100%;
    display: flex;
    align-items: center;
}


.ourschoolboardeft{
background-color:#fafbfc;
color: rgb(2, 2, 2);
}
.mnc{
    text-decoration: none;
}



.ourschoolboardrighttt{
width: 40%;
color: rgb(14, 13, 13);
;


}
.bbb{
    color: black;

}

.noblebtn{
    background-color:#1D4776;
    color: wheat;
}
.noblebtn:hover{
    background-color:#1D4776;

}



.navserboard{
    flex-direction: column;
    width: 75%;
    display: flex;
}


.didyou{
    font-size: 18px;
    color: black !important;
    text-align: left;
}
@media screen and (max-width:768px){
    .latest_card_box_ad{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ourschoolboardeft{
        width: 100%;
        }
        .ourschoolboardright{
            width: 100%;
            color: white;
            }
          
                
                   
                    .bbb{
                        color: black;
                        font-size: 15px;
                        
                    }
                    .admcon{
                        font-size:15px ;
                    }
                  
                    .ourschoolboard{
                        width: 90%;
                        padding: 10px 10px;
                        word-wrap: normal;
                    }
                    .titlecontact222{
                        display: none;
                    }
}